@import 'mixins';

$color-primary: #105469;
$color-secondary: #2d4e58;
$color-accent: rgb(175, 232, 250);

$color-off-white: #f3f3f3;
$color-dark-gray: #1d1d1d;
$color-white: #ffffff;
$color-gray: #adadad;
$color-error: #e64242;
$color-success: #59c959;
$color-link: #396186;

$color-font: #2b2b2b;
$color-font-light: #5a5a5a;

// Screen sizes for breakpoints.
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.container {
    padding: 20px 15px 20px 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: $color-white;
  
    @include sm {
      width: 750px;
    }
  
    @include md {
      width: 970px;
    }
  
    @include lg {
      width: 1170px;
    }
  }