@import 'mixins';

$color-primary: #326ada;
$color-secondary: #433e90;
$color-accent: rgb(45, 189, 233);

$color-off-white: #f1f1f1;
$color-dark-gray: #242424;
$color-white: #ffffff;
$color-gray: #adadad;
$color-error: #e64242;
$color-success: #59c959;
$color-link: $color-accent;

$color-font: #2b2b2b;
$color-font-light: #666666;
$color-font-extra-light: #8d8d8d;

// Screen sizes for breakpoints.
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.container {
    padding: 20px 15px 20px 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: none;
  
    max-width: 800px;
  }